#ProjectTitle{
    display: flex;
    justify-content: center;
}

#TopSection{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#PageTitle{
    display: flex;
    justify-content: center;
}

#ButtonPlacement{
    display: flex;
    justify-content: center;
}

#ResourceButton{
    background-color: orange;
}

#ErrorText{
    color: red;
    display: flex;
    justify-content: center;
}

header{

}

header > nav > ul {
    display: flex;
    justify-content: space-around;
}

header > nav > ul > li {
    display: inline;
}
