#ProjectTitle{
    display: flex;
    justify-content: center;
}

#TopSection{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 5px solid red;
    background-color: beige;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-left: 40%;
    margin-right: 40%;
    position: relative;
}

#PageTitle{
    display: flex;
    justify-content: center;
}

#ButtonPlacement{
    display: flex;
    justify-content: center;
}

#ResourceButton{
    background-color: orange;
}

#ErrorText{
    color: red;
    display: flex;
    justify-content: center;
}


header > nav > ul {
    display: flex;
    justify-content: space-around;
}

header > nav > ul > li {
    display: inline;
}
