h1 {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
}
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(241, 207, 161);
}
#centerdiv {
    display: flex;
    flex-direction: column;
    width: 70%;
    height: 50px;
    align-content: center;
    justify-content: space-evenly;
    background-color: rgb(112, 0, 0);
}
#centerdiv button {
    width: 10%;
    margin-top: auto;
    margin-bottom: auto ;
}